{% extends 'personal_info/__base.html' %}
{% block status_message %}
<!-- Status message -->
{% if status_message %}
  <div class="alert alert-success">
    {{ status_message }}
  </div>
{% endif %}
{% endblock status_message %}
{% block error %}
{% endblock %}

{% block layout %}
    <div class="row" id="content">
      <div class="col-xs-6" id="info-column">
        {% block info %}
        {% endblock %}
      </div>
      <div class="col-xs-6" id="contacts-column">
        {% block contacts %}
        {% endblock %}
      </div>
    </div>
    <div class="row" id="photo">
      <div class="col-xs-6" id="photo-column">
        {% block photo %}
        {% endblock %}
      </div>
    </div>
    <div class="row" id="request-link">
      <div class="col-xs-12">
        {% block link %}
        {% endblock %}
      </div>
    </div>
{% endblock %}