.row  {
    background-color: #575757;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    border-radius: 15px;
}

.alert-error {
    background-color: #660e0e;
    border-bottom: 2px solid black;
}

.table-striped {
    background-color: inherit !important;
}

#loading-row {
    background-color: #62c462;
    color: #ffffff;
}

#request-priority {
    text-align: right;
}

#back-to-requests {
    text-align: right;
}

.alert-success {
    border-radius: 15px;
    margin-bottom: 5px;
}

#edit-link {
    text-align: right;
    margin-bottom: 5px;
}

.login-form input{
    max-width: 300px;
}

img {
    image-orientation: from-image;
}

.img-rounded {
    image-orientation: from-image;
    margin-bottom: 10px;
}

.top-user {
    height: 90px;
    line-height: 90px;
    text-align: right;
}

/* Spinner styles   *\
\* for edit page    */
.spinner {
  margin: auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}