.row  {
    background-color: #575757;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    border-radius: 15px;
}

.btn-link {
}

.alert-error {
    background-color: #660e0e;
    border-bottom: 2px solid black;
}

.table-striped {
    background-color: inherit !important;
}
.alert-success {
    border-radius: 15px;
    margin-bottom: 5px;
}
/* Spinner styles   *\
\* for edit page    */
.spinner {
  margin: 5px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.login-form input{
    max-width: 300px;
}

img {
    image-orientation: from-image;
}

.img-rounded {
    image-orientation: from-image;
    margin-bottom: 10px;
}

.top-user {
    height: 90px;
    line-height: 90px;
    text-align: right;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}