.row  {
    background-color: #575757;
}

.error {
    background-color: #660e0e;
    border-bottom: 2px solid black;
}

#header {
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    border-radius: 15px;
}

#content {
    border-bottom: 2px solid black;
    margin-bottom: 5px;
    border-radius: 15px;
}

#personal-info {
    border-bottom: 2px solid black;
}

#contacts {
    border-bottom: 2px solid black;
}

#request-link {
    border-bottom: 2px solid black;
    border-radius: 15px;
}

.table-striped {
    background-color: inherit !important;
}
.alert-success {
    border-radius: 15px;
    margin-bottom: 5px;
}